.page {
    background-color: rgb(19, 19, 19);
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header-logo {
    color: white;
    font-family: Impact;
}
.header-buttons {
    color: #ffffff;
    text-decoration: none;
    font-family: Impact;
}
.content {
    align-self: center;
    justify-self: center;
    width: 60%;
}
.navbar {
    width: 100%;
}
.jumbotron {
  width: 100%;
    border: 5px solid rgb(19, 19, 19);
    border-radius: 30px;
    background-color: rgb(39, 39, 39);
    color: white;
}
.container > hr {
    background-color: white;
}

#basketball {
  clip-path: circle(43%);
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(218, 218, 218);
  border-radius: 50%;
  animation-name: bounce;
    animation-duration: 1.0s; 
    animation-timing-function: ease-out; 
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.container-Basketball {
    margin: auto;
    width: 300px;
    height: 300px;
}
.leather {
  background: rgb(190, 190, 190);
  position: absolute;
  left: 5%;
  top: 5%;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  filter: blur(2em);
}

.shine {
  background: white;
  position: absolute;
  left: -5%;
  top: -5%;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  filter: blur(2em);
  opacity: 0.4;
}

.horizontal-line-1 {
    left: 47.5%;
    top: -5%;
    width: 100%;
    height: 115%;
    border: 1em solid black;
    position: absolute;
}

.horizontal-line-2 {
    top: 75%;
    width: 100%;
    height: 100%;
    border: 1em solid black;
    position: absolute;
    border-radius: 50%;
}

.horizontal-line-4 {
  left: -2%;
  top: -75%;
  width: 100%;
  height: 100%;
  border: 1em solid black;
  position: absolute;
  border-radius: 50%;
}

.horizontal-line-3 {
  left: -5%;
  top: 48%;
  width: 105%;
  height: 100%;
  border: 1em solid black;
  position: absolute;
}

.shadow {
  background: black;
  width: 100%;
  height: 10%;
  position: relative;
  border-radius: 50%;
  top: -10%;
  filter: blur(2em);
}
  
  @keyframes bounce {
    0% {
      transform: scale(.5);
      border-radius: 100%;
    }
    100% {
      transform: scale(1.1);
      border-radius: 100%;
    }
  }

.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    color: rgb(128, 128, 128);
    flex-direction: column;
}
.button-container {
    display: flex;
}
.logo {
    z-index: 9999;
    margin-left: 105px;
    color: rgb(228, 227, 227);
    font-family: Impact;
    font-size: 70px;
    margin-top: -70px;
}
