html,
body {
  height: 100%;
}
.page {
  background: url('../img/jordan-login.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer {
  width: 100vw;
  height: 200px;
  background-color: rgb(3, 3, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(128, 128, 128);
  flex-direction: column;
}
.button-container {
  display: flex;
}
#signup-title {
  font-size: 60px;
  color: rgb(0, 0, 0);
  font-family: Impact;
  text-align: center;
}
.center {
  width: 25rem;
  color: rgb(0, 0, 0);
  border: white 1px solid;
  border-radius: 5px;
  padding: 20px;
  min-width: 180px;
  background-color: white;
  font-family: Impact;
}